.sortable li {
  width: 150px;
  height: 35px;
  /*padding: 0.5em;*/
  background: var(--bs-yellow);
}

#card_timeline_seconds {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px);
}

#card_timeline_minutes {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, green 3px, transparent 3px);
}

.timeline_background{
  background-color: green;
  opacity: 0.3;
  left: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 3px;
}